 <div class="container-fluid">

    <div class="row">


        <div class="col-lg-4 text-left order-1">
    
    
            <form id=create-form action="/product" method="post">
                <h3 class="lead">New product form</h3>
                <div class="form-group">
                    <select class="form-control" name="sec_n">
                        <option value="0">Laptops</option>
                        <option value="1">RAMs</option>
                        <option value="2">GPUs</option>
                        <option value="3">Accesories</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="item" placeholder="Item">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="price" placeholder="Price">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="Description">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="specs" placeholder="Specs">
                </div>
                <button type="submit" class="btn btn-block btn-primary">Create Product</button>
            </form>
            <!--update form hidden-->
            <div id=update-div display="none">
            <form id=update-form action="/product?_method=PUT" method="post">
                <h3 class="lead">Update product Form</h3>
                <div class="form-group">
                    <input id="id-update" class="form-control" type="text" name="id" placeholder="id">
                </div>
                <div class="form-group">
                    <select class="form-control" name="sec_n">
                        <option value="0">Laptops</option>
                        <option value="1">RAMs</option>
                        <option value="2">GPUs</option>
                        <option value="3">Accesories</option>
                    </select>
                </div>
                <div class="form-group">
                    <input id="item-update" class="form-control" type="text" name="itemName" placeholder="Item">
                </div>

                <div class="form-group">
                    <input id="price-update" class="form-control" type="text" name="price" placeholder="Price">
                </div>
                <div class="form-group">
                    <input id="desc-update" class="form-control" type="text" name="description" placeholder="Description">
                </div>
                <div class="form-group">
                    <input id="specs-update" class="form-control" type="text" name="specs" placeholder="Specs">
                </div>
                <button type="submit" class="btn btn-block btn-primary">Apply changes</button>
                <button onClick="onCancelUpdate()" class="btn btn-block btn-danger">Cancel</button>
            </form>
            </div>
        </div>

        <div id="results" class="col-lg-8 text-center order-2">
            <table class="table">

			    <thead>
				    <tr>
					    <th>Item</th>
                        <th>Type</th>
					    <th>Price</th>
					    <th>Description</th>
                        <th>Specs</th>
					    <th>Action</th>
				    </tr>
			    </thead>

			<tbody>
                 <% products.forEach(product =>{ %>
                <tr> 
                    <td><%= product.item %></td>
                    <td><%= product.section %></td>
                    <td><%= product.price %> </td>
                    <td><%= product.description %> </td>
                    <td><%= product.specs %> </td>
                    <td>

                        <button onclick="enableEditFields('<%= product.id %>', '<%= product.item %>',
                        '<%= product.section %>','<%= product.price %>','<%= product.description %>','<%= product.specs %>')" class="btn btn-primary edit-product">Edit</button>
            
                        <form action="product/<%= product.id %>" method="post">
                            <button type="submit" class="btn btn-danger delete-product">Delete</button>
                        </form> 
                    </td>
                </tr>
                <%})%>
            </tbody>
        </div>

        
    </div>
</div>